@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root{
  --cor-primaria: rgb(86,171,47);
  --cor-secundaria: rgb(168,224,99);
}

body{
  background: var(--cor-secundaria);
  font-family: 'Roboto', sans-serif;
}

.navbar a.navbar-brand{
  color: var(--cor-primaria);
}

.display{
  border-bottom: 2px solid rgba(168, 224, 99, 0.23);
}

input[name="display"]{
  font-family: 'Roboto Mono', monospace;
  border: none;
  background: transparent;
  text-align: right;
  background-color: #ECECEC;
  padding: 0 8px;
  text-align: right;
  width: 100%;
  font-size: 6.5rem;
}

.calcItem a{
  font-family: 'Roboto Mono', monospace;
  font-size: 45px;
  color: #535353;
  text-align: center;
  border-radius: 50px;
  border: 2px solid rgba(83, 83, 83, 0.2); 
  text-decoration: none;
  display:block;
}

.calcItem.calcNum a{  
  background: rgba(196, 196, 196, 0.5); 
}

.calcItem.calcOp a{  
  background: rgba(168, 224, 99, 0.5); 
}

.calcItem.calcNum a:hover{
  background: rgba(4, 4, 4, 0.16);
}
.calcItem.calcOp a:hover{
  background: rgba(134, 181, 78, 0.16);
}